# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Data & Output
# output/
# data/raw/
# data/processed/

# Environment & Secrets
.env
.env.*
!.env.example
# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.bak
*.swp
